body {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: powderblue;
  height: 240px;
  margin: 30px;
  border-radius: 25px;

}
nav {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding-top: 0px;
  padding-left: 5px;
  height: 800px;
}
main {
  width: 79%;
  display: inline-block;

}
img {
  margin: auto;
  display: block;
  width: 70px;
}
header h1 {
  text-align: center;
  margin: 0px 10px;
  padding: 20px 10px 10px 10px;
}

h2 {
  text-align: center;
}

ul {
  padding-left: 60px;
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 50%;
  padding: 0px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
  background-color: #3c3434;
  color: white;
  margin: auto;
  padding: 2px 16px;
}

.modal-body {
  padding: 16px;
  height: 250px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
}

.close:hover {
  color: #fefefe;
  cursor: pointer;
}

.logo {
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.logo:hover {
  opacity: 0.5;
  cursor: pointer;
}

.title {
  font-size: 30px;
  margin: 15px 0px;
  width: 850px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

article {
  width: 95%;
};
